<!DOCTYPE html>
<html lang="en">

<head>
    <title>Pwop Light</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="PwopLight.styles.css" />
    <HeadOutlet @rendermode="InteractiveAuto" />
</head>

<body>
    <Routes @rendermode="InteractiveAuto" />
    <script src="_framework/blazor.web.js"></script>
    <script>
        window.SetBodyColor = (color) => {
            document.body.style.backgroundColor = color;
        }
    </script>
</body>

</html>
